*/CMakeCache.txt
*/CMakeFiles/*
*/Makefile
hw1/bin/perspective1.jpg
hw1/bin/perspective2.jpg
hw1/bin/perspective3.jpg
hw2/bin/*.jpg

*/include/types.h

# Ignore build directories
[Dd]ebug
[Rr]elease
[Bb]uild

# Ignore install directories (if in same dir)
[Ii]nstall

# Ignore generated documentation
*/doc/html

# VisualStudioCode
*/.vscode/*
*/.vscode/settings.json
*/.vscode/tasks.json
*/.vscode/launch.json
*/.vscode/extensions.json
*/./vscode

*/.DS_Store

